.main-container{
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .col{
    margin: 5vh 5vw;
}
.row .col img{
    width: 10vw;
    height: 20vh;
}
@media (min-width:576px) and (max-width:768px){
    .row .col img{
        width: 20vw;
        height: 20vh;
    }
}
@media (max-width:576px) and (min-width:450px){
    .row .col img{
        width: 30vw;
        height: 20vh;
    }
}
@media (max-width:450px){
    .row{
        flex-direction: column;
    }
    .row .col img{
        width: 40vw;
        height: 20vh;
    }
}